In [1]:
import sqlite3 
import pandas as pd

/* PART 2: SQLite

Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook 
for the following questions.

In [2]:
con = sqlite3.connect("sqlite_db_pythonsqlite.db")
cur = con.cursor()

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [3]:
q1='''select name, revenue from (select f.name as name,sum(case when b.memid!=0 then f.membercost*b.slots when b.memid=0 then f.guestcost*b.slots END) as revenue
from Bookings as b left join Facilities as f on b.facid=f.facid group by name) where revenue<1000'''
cur.execute(q1)
cur.fetchall()

[('Pool Table', 270), ('Snooker Table', 240), ('Table Tennis', 180)]

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [4]:
q2=''' 
SELECT m2.firstname as member_firstname, m2.surname as member_surname,
(select firstname from members as m1 where m1.memid = m2.recommendedby) as recommender_firstname,
(select surname from members as m1 where m1.memid = m2.recommendedby) as recommender_surname
 from members as m2
 WHERE m2.memid != 0
ORDER BY surname, firstname;

'''
cur.execute(q2)
cur.fetchall()
#con.close()

[('Florence', 'Bader', 'Ponder', 'Stibbons'),
 ('Anne', 'Baker', 'Ponder', 'Stibbons'),
 ('Timothy', 'Baker', 'Jemima', 'Farrell'),
 ('Tim', 'Boothe', 'Tim', 'Rownam'),
 ('Gerald', 'Butters', 'Darren', 'Smith'),
 ('Joan', 'Coplin', 'Timothy', 'Baker'),
 ('Erica', 'Crumpet', 'Tracy', 'Smith'),
 ('Nancy', 'Dare', 'Janice', 'Joplette'),
 ('David', 'Farrell', None, None),
 ('Jemima', 'Farrell', None, None),
 ('Matthew', 'Genting', 'Gerald', 'Butters'),
 ('John', 'Hunt', 'Millicent', 'Purview'),
 ('David', 'Jones', 'Janice', 'Joplette'),
 ('Douglas', 'Jones', 'David', 'Jones'),
 ('Janice', 'Joplette', 'Darren', 'Smith'),
 ('Anna', 'Mackenzie', 'Darren', 'Smith'),
 ('Charles', 'Owen', 'Darren', 'Smith'),
 ('David', 'Pinker', 'Jemima', 'Farrell'),
 ('Millicent', 'Purview', 'Tracy', 'Smith'),
 ('Tim', 'Rownam', None, None),
 ('Henrietta', 'Rumney', 'Matthew', 'Genting'),
 ('Ramnaresh', 'Sarwin', 'Florence', 'Bader'),
 ('Darren', 'Smith', None, None),
 ('Darren', 'Smith', None, None),
 ('Jack', 'Smith', 'Darren', 'Smith'),
 ('Tracy', 'Smith', None, None),
 ('Ponder', 'Stibbons', 'Burton', 'Tracy'),
 ('Burton', 'Tracy', None, None),
 ('Hyacinth', 'Tupperware', None, None),
 ('Henry', 'Worthington-Smyth', 'Tracy', 'Smith')]

/* Q12: Find the facilities with their usage by member, but not guests */

In [6]:
q1='''select name, count(*) as usage from Bookings as b left join Facilities as f on b.facid=f.facid where b.memid!=0 group by name'''
cur.execute(q1)
cur.fetchall()

[('Badminton Court', 344),
 ('Massage Room 1', 421),
 ('Massage Room 2', 27),
 ('Pool Table', 783),
 ('Snooker Table', 421),
 ('Squash Court', 195),
 ('Table Tennis', 385),
 ('Tennis Court 1', 308),
 ('Tennis Court 2', 276)]

In [7]:
q1='''select name,(strftime('%Y-%m', starttime)) as month_count, count(*) as usage from Bookings as b left join Facilities as f on b.facid=f.facid where b.memid!=0 group by name, month_count'''
cur.execute(q1)
cur.fetchall()

[('Badminton Court', '2012-07', 51),
 ('Badminton Court', '2012-08', 132),
 ('Badminton Court', '2012-09', 161),
 ('Massage Room 1', '2012-07', 77),
 ('Massage Room 1', '2012-08', 153),
 ('Massage Room 1', '2012-09', 191),
 ('Massage Room 2', '2012-07', 4),
 ('Massage Room 2', '2012-08', 9),
 ('Massage Room 2', '2012-09', 14),
 ('Pool Table', '2012-07', 103),
 ('Pool Table', '2012-08', 272),
 ('Pool Table', '2012-09', 408),
 ('Snooker Table', '2012-07', 68),
 ('Snooker Table', '2012-08', 154),
 ('Snooker Table', '2012-09', 199),
 ('Squash Court', '2012-07', 23),
 ('Squash Court', '2012-08', 85),
 ('Squash Court', '2012-09', 87),
 ('Table Tennis', '2012-07', 48),
 ('Table Tennis', '2012-08', 143),
 ('Table Tennis', '2012-09', 194),
 ('Tennis Court 1', '2012-07', 65),
 ('Tennis Court 1', '2012-08', 111),
 ('Tennis Court 1', '2012-09', 132),
 ('Tennis Court 2', '2012-07', 41),
 ('Tennis Court 2', '2012-08', 109),
 ('Tennis Court 2', '2012-09', 126)]